<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/navbar")  %>

    <div class="container">
        <h4>Today's Scheduled Luggage Check-In</h4><hr>
        <% if(data && data.length>0){ %>
            <table class="table">
                <tr>
                    <th>Registration Number</th>
                    <th>Luggage Info</th>
                    <th>Image</th>
                    <th colspan="2">Action</th>
                </tr>

            <% data.forEach(function(data){ %>

                <tr>
                    <td><%= data.registration_number %></td>
                    <td><%= data.luggage_info %></td>
                    <td><a class="btn btn-primary" target="_blank" href="<%= data.image %>"><i class="bi bi-eye-fill"></i></a></td>
                    <td><a class="btn btn-success" href="/check-in/<%=data.id %>"><i class="bi bi-check-circle-fill"></i></a></td>

                </tr>
                </table>


            
            
            <% }) %>
        
        <% } else {  %>

            <h6>No Luggage Check-In scheduled for Today!</h6>

            <% } %>
    </div>
    <script src="/script.js"></script>
 
    
</body>
</html>